<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Edit Google Authenticator</h4>
    </div>
    <div class="modal-body" style="height: 411px !important;">
        <jhi-alert-error></jhi-alert-error>
        
        <form>
			<div class="control-group" style="text-align: center;" ng-if="vm.settingsAccount.enabled">
				<div style="width: 78px; height: 78px; background: url(content/images/2fa-icon-ga2_61.png) no-repeat; margin: 20px auto"></div>
				<p style="font-size: 19px; margin-top: -18px;">Google Authenticator is enabled on your account</p>
				<p style="margin-bottom: 50px;">In order to change your authentication method, you have to disable Google 2FA on your account</p>
				<hr>
				<label class="control-label" for="otp_code" style="margin-top: 30px; font-size: 15px; -moz-user-select: none; -webkit-user-select: none; font-weight: bold;" onclick="$('#google_auth #otp_code').focus();">Enter 2FA code to disable Google Authenticator:</label>
				<div class="controls">
				<input type="text" ng-model='vm.gauth.code' class="googleauth_input" id="otp_code" name="otp_code" rel="popover" autocomplete="off" maxlength="11" placeholder="" autofocus="">
				</div>
			</div>

			<div class="control-group" style="text-align: center;" ng-if="!vm.settingsAccount.enabled">
				<div class="c">
					<ol class="googleauth-bullets">
					<li><label for="googleauth_code_backup">Download 2FA backup key:</label></li>
					<li>Download and install:</li>
					<li>Scan QR:</li>
					</ol>
					<div class="apps">
					<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank"><img src="content/images/appstore-m.png" width="162" height="55" border="0" alt="Download on AppStore"></a>
					<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank"><img src="content/images/play-m.png" width="161" height="55" border="0" alt="Download on Google Play"></a>
					</div>
					<div class="code-backup">
					<input id="googleauth_code_backup" type="text" name="otp_key" ng-model="vm.settingsAccount.secret">
					<a href="/g" target="_self" class="download-backup-code"></a>
					</div>
					<div id="security_pages_qrcode" title="{{vm.otp}}"><canvas width="160" height="160" style="display: none;"></canvas><img src="{{vm.otp}}" style="display: block;"></div>
					<div class="code-otp">
					<label for="googleauth_otp_code">Enter 2FA code from the app:</label>
					<br/><br/>
					<input id="googleauth_otp_code" type="otp_code" name="otp_code" ng-model="vm.gauth.code" autocomplete="off" maxlength="11" autofocus="">
					</div>
				</div>
			</div>			
		</form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
           >Cancel</span>
        </button>
        <button type="submit" ng-if="vm.settingsAccount.enabled" ng-click="vm.disableGauth()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Disable</span>
        </button>
        <button type="submit" ng-if="!vm.settingsAccount.enabled" ng-click="vm.enableGauth()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enable 2FA</span>
        </button>
    </div>
</form>
