<div>
    <h2>Wallet Btc Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wallet-btc-transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Wallet Btc Transaction
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <uib-tabset active="tabs">
		<uib-tab index="0" heading="Transfer">
			<form name="editForm" role="form" novalidate ng-submit="vm.transfer()" show-validation>
		        <jhi-alert-error></jhi-alert-error>
		        <div class="form-group" ng-show="vm.walletBtcTransaction.id">
		            <label for="id">ID</label>
		            <input type="text" class="form-control" id="id" name="id"
		                    ng-model="vm.walletBtcTransaction.id" readonly />
		        </div>
		        <div class="form-group">
		            <label class="control-label" for="field_username">Username</label>
		            <input type="text" class="form-control" name="username" id="field_username"
		                    ng-model="vm.walletBtcTransaction.username"
		                    required/>
		            <div ng-show="editForm.username.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.username.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label" for="field_amount">Jumlah Transfer</label>
		            <input type="number" class="form-control" name="amount" id="field_amount"
		                    ng-model="vm.walletBtcTransaction.amount"
		                    />
		        </div>
		        <div class="form-group">
		            <label class="control-label">Biaya Transfer</label>
		            <input type="text" class="form-control" name="fee" id="field_fee"
		                    ng-model="vm.walletBtcTransaction.fee" disabled 
		                    required/>
		            <div ng-show="editForm.fee.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.fee.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">PIN Google AUTH</label>
		            <input type="text" class="form-control" name="pin" id="field_pin"
		                    ng-model="vm.walletBtcTransaction.gauth"
		                    required/>
		            <div ng-show="editForm.pin.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.pin.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <button class="btn btn-primary" >
                    <span >
                        Transfer
                    </span>
                </button>
	        </form>
		</uib-tab>	    
		<uib-tab index="1" heading="Tarik">
			<form name="editForm" role="form" novalidate ng-submit="vm.withdrawData()" show-validation>
				<jhi-alert-error></jhi-alert-error>
		        
				<div class="form-group">
		            <label class="control-label">Jumlah Penarikan</label>
		            <input type="text" class="form-control" name="amount" id="field_amountWithdraw"
		                    ng-model="vm.withdraw.amount"
		                     ng-change="vm.changeWithdrawAmount()"
		                    required/>
		            <div ng-show="editForm.amount.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.amount.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">Biaya Penarikan</label>
		            <input type="text" class="form-control" name="withdrawFee" id="field_withdrawFee"
		                    ng-model="vm.withdraw.fee" disabled
		                    required/>
		            <div ng-show="editForm.fee.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.fee.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">PIN Google AUTH</label>
		            <input type="text" class="form-control" name="pin" id="field_pin"
		                    ng-model="vm.withdraw.gauth"
		                    required/>
		            <div ng-show="editForm.pin.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.pin.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        
		        <button class="btn btn-primary" >
                    <span >
                        Withdraw
                    </span>
                </button>
	        </form>
		</uib-tab>	    
		<uib-tab index="2" heading="Riwayat">    
		    <div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		                    <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="fee"><span>Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="createdDate"><span>Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="walletBtcTransaction in vm.walletBtcTransactions track by walletBtcTransaction.id">
		                    <td>{{walletBtcTransaction.amount | number:8}}</td>
		                    <td>{{walletBtcTransaction.fee  | number:8}}</td>
		                    <td>{{walletBtcTransaction.type}}</td>
		                    <td>{{walletBtcTransaction.status}}</td>
		                    <td>{{walletBtcTransaction.createdDate | date:'dd/MM/yy HH:mm'}}</td>
		                    <!-- <td class="text-right">
		                        <div class="btn-group flex-btn-group-container">
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction-detail({id:walletUsdTransaction.id})"
		                                    class="btn btn-info btn-sm">
		                                <span class="glyphicon glyphicon-eye-open"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.edit({id:walletUsdTransaction.id})"
		                                    class="btn btn-primary btn-sm">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.delete({id:walletUsdTransaction.id})"
		                                    class="btn btn-danger btn-sm">
		                                <span class="glyphicon glyphicon-remove-circle"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                        </div>
		                    </td> -->
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <div class="text-center">
		        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
		    </div>
		</uib-tab>
	</uib-tabset>
</div>
