<div>
    <h2>Wallet Usd Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wallet-usd-transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Wallet Usd Transaction
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <uib-tabset active="tabs">
		<uib-tab index="0" heading="Setor">
		</uib-tab>	    
		<uib-tab index="1" heading="Tarik">
			<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
				<div class="form-group">
		            <label class="control-label">Jumlah Penarikan</label>
		            <input type="text" class="form-control" name="amountWithdraw" id="field_amountWithdraw"
		                    ng-model="vm.walletUsdTransaction.amountWithdraw"
		                    required/>
		            <div ng-show="editForm.username.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.username.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">Biaya Penarikan</label>
		            <input type="text" class="form-control" name="withdrawFee" id="field_withdrawFee"
		                    ng-model="vm.walletUsdTransaction.withdrawFee" disabled
		                    required/>
		            <div ng-show="editForm.withdrawFee.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.withdrawFee.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">PIN Google AUTH</label>
		            <input type="text" class="form-control" name="pin" id="field_pin"
		                    ng-model="vm.walletUsdTransaction.pin"
		                    required/>
		            <div ng-show="editForm.pin.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.pin.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        
		        <button class="btn btn-primary" >
                    <span >
                        Withdraw
                    </span>
                </button>
	        </form>
		</uib-tab>	 	    
		<uib-tab index="2" heading="Riwayat">
		    <div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="username"><span>Username</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="fromUsername"><span>From Username</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="txid"><span>Txid</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="createdDate"><span>Time</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="walletUsdTransaction in vm.walletUsdTransactions track by walletUsdTransaction.id">
		                    <td><a ui-sref="wallet-usd-transaction-detail({id:walletUsdTransaction.id})">{{walletUsdTransaction.id}}</a></td>
		                    <td>{{walletUsdTransaction.username}}</td>
		                    <td>{{walletUsdTransaction.amount}}</td>
		                    <td>{{walletUsdTransaction.type}}</td>
		                    <td>{{walletUsdTransaction.fromUsername}}</td>
		                    <td>{{walletUsdTransaction.txid}}</td>
		                    <td>{{walletUsdTransaction.createdDate | date:'dd/MM/yy HH:mm'}}</td>
		                    <td class="text-right">
		                        <div class="btn-group flex-btn-group-container">
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction-detail({id:walletUsdTransaction.id})"
		                                    class="btn btn-info btn-sm">
		                                <span class="glyphicon glyphicon-eye-open"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.edit({id:walletUsdTransaction.id})"
		                                    class="btn btn-primary btn-sm">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.delete({id:walletUsdTransaction.id})"
		                                    class="btn btn-danger btn-sm">
		                                <span class="glyphicon glyphicon-remove-circle"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                        </div>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <div class="text-center">
		        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
		    </div>
	    </uib-tab>
	    <uib-tab index="3" heading="Konfirmasi Transfer">
	    		<p>
	    			Lengkapi isian berikut untuk melakukan konfirmasi transfer
	    		</p>
	    		
	    		<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
				<div class="form-group">
		            <label class="control-label">Jumlah Transfer</label>
		            <input type="text" class="form-control" name="amountTransfer" id="field_amountTransfer"
		                    ng-model="vm.walletUsdTransaction.amountTransfer"
		                    required/>
		            <div ng-show="editForm.amountTransfer.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.amountTransfer.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">Biaya Penarikan</label>
		            <input type="text" class="form-control" name="withdrawFee" id="field_withdrawFee"
		                    ng-model="vm.walletUsdTransaction.withdrawFee" disabled
		                    required/>
		            <div ng-show="editForm.withdrawFee.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.withdrawFee.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">PIN Google AUTH</label>
		            <input type="text" class="form-control" name="pin" id="field_pin"
		                    ng-model="vm.walletUsdTransaction.pin"
		                    required/>
		            <div ng-show="editForm.pin.$invalid">
		                <p class="help-block"
		                    ng-show="editForm.pin.$error.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        
		        <button class="btn btn-primary" >
                    <span >
                        Withdraw
                    </span>
                </button>
	        </form>
		</uib-tab>	 	   
    </uib-tabset>
</div>
