<div>
    <h2>Wallet Usd Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wallet-usd-transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Wallet Usd Transaction
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <uib-tabset active="tabs">
		<uib-tab index="0" heading="Tarik">
		</uib-tab>	    
		<uib-tab index="1" heading="Setor">
		</uib-tab>	    
		<uib-tab index="2" heading="Riwayat">
		    <div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="username"><span>Username</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="fromUsername"><span>From Username</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="txid"><span>Txid</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="walletUsdTransaction in vm.walletUsdTransactions track by walletUsdTransaction.id">
		                    <td><a ui-sref="wallet-usd-transaction-detail({id:walletUsdTransaction.id})">{{walletUsdTransaction.id}}</a></td>
		                    <td>{{walletUsdTransaction.username}}</td>
		                    <td>{{walletUsdTransaction.amount}}</td>
		                    <td>{{walletUsdTransaction.type}}</td>
		                    <td>{{walletUsdTransaction.fromUsername}}</td>
		                    <td>{{walletUsdTransaction.txid}}</td>
		                    <td class="text-right">
		                        <div class="btn-group flex-btn-group-container">
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction-detail({id:walletUsdTransaction.id})"
		                                    class="btn btn-info btn-sm">
		                                <span class="glyphicon glyphicon-eye-open"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.edit({id:walletUsdTransaction.id})"
		                                    class="btn btn-primary btn-sm">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="wallet-usd-transaction.delete({id:walletUsdTransaction.id})"
		                                    class="btn btn-danger btn-sm">
		                                <span class="glyphicon glyphicon-remove-circle"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                        </div>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <div class="text-center">
		        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
		    </div>
	    </uib-tab>
    </uib-tabset>
</div>
